<!DOCTYPE html>
<html>
<head>
	<!-- jquery mobile headers -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script>

$(document).ready(function(){  // load after the document fully loads

	$("select").change(function() { // run when sliders change
	  $.getJSON('/arm', {
            // AJAX call to arm/disarm a zone
            zone:       $(this).attr('id'),
	    state:      $(this).val()
	  });

	  // some output on the page for troubleshooting
	  $("#output").text(
	    "[" + $(this).attr('id') + ":" + $(this).val() + "]"
	  );
	});
});
</script>

</head>
<body>


<div data-role="page" data-theme="a">
  <div data-role="header">
    <h1>Security Control</h1>
  </div>



  <div data-role="main" class="ui-content">
    <form>
    <!--p>The button is <span id="buttonState"></span></p-->
    <!--div class="ui-field-contain"-->
    {% for zone in zones %} <!-- one slider per alarm zone -->
    <div data-role="fieldcontain">  <!-- separate the zones a little -->
    <!--label   for="{{zone}}" style="text-align: right;">{{zone}}</label-->
    <!--label   for="{{zone}}" style="display: block; width:200; ">{{zone}}</label-->
    <label   for="{{zone}}" style="width=;">{{zone}} {{zones[zone]}}</label>
    <select name="{{zone}}" id="{{zone}}" data-role="flipswitch" style="display: inline-block; " >
	    <option value="off" {%if zones[zone] == 'disarmed'%} selected="selected" {%endif%} >off</option>
	    <option value="on" {%if zones[zone] == 'armed'%} selected="selected" {%endif%} >on</option>
    </select>
    </div>
    {% endfor %}
    <!--/div--> <!-- end ui-field-contain -->
    </form>


    <p id="output">[]</p>

  </div> <!-- end main -->
  <div data-role="footer">
    <h4>{{uptime}}</h4>
  </div> <!-- end footer -->
</div>   <!-- end page -->

</body>
</html>
