<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>

<script>

$(document).ready(function(){
	$("select").change(function() {
	  $.getJSON('/_led', {
            zone:       $(this).attr('id'),
	    state:      $(this).val()
	  });
	  $("#output").text(
	    "[" + $(this).attr('id') + ":" + $(this).val() + "]"
	  );
	});
});
</script>

</head>
</body>

    <div><h3 class="test">Raspberry Pi Web Control</h3></div>
    <p id="output">Output</p>

    <form>
    <p>The button is <span id="buttonState"></span></p>
    <br>

    {% for zone in zones %}
    <select name="{{zone}}" id="{{zone}}" data-role="slider" style="float: left;">
        <option value="off">off</option>
	<option value="on">on</option>
    </select>
    <p> {{zone}}</p>
    {% endfor %}

    </form>


    <br>

 <div data-role="footer">
    <div><h4>This Raspberry Pi has been {{uptime}}</h4></div>
  </div>


</body>
</html>
